#sec1, #sec2, #sec3, #sec4, #footer, ul, #up,#main,#nav,h3{
    display: none;
}
body{
    background-color: #323265;
    background: linear-gradient(to top,#494994 , #323265);
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    padding-top: 7vw;
    background-image: url(../img/mfon.png);
    background-size: cover;
}
#mlogo{
    height: 11vw;
    width: 50vw;
    background-image: url(../img/maint1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 7vw;
    float: left;
}
#mback{
    height: 12vw;
    width: 12vw;
    background-image: url(../img/back.png);
    background-size: contain;
    margin-top: 0vw;
    margin-left: 25vw;
    float: left;
}
#mnav{
    border-radius: 5vw;
    width: 60vw;
    height: 100vw;
    margin-top: 45vw;
}
#mnavdiv a{
    font-size: 7vw;
    font-family: "CenturyGothicRegular";
    text-transform: uppercase;
    border-radius: 7vw;
    color: #e2e2e2;
   
}
#mnavdiv{
    margin-bottom: 15vw;
    width: 60vw;
    border: solid 0.01vw #e2e2e2;
    border-radius: 7vw;
    /*background-color: #3E3E7C;*/
}
#mnavdiv:hover{
    background-color: black;
}
#mfooter{
    height: 10vw;
    background-color: #3E3E7C;
    border-top: solid 0.1vw black; 
    margin-top: 15vw;
    color: #e2e2e2;
    font-family: "CenturyGothicRegular";
    text-transform: uppercase;
    font-size: 4vw;
    box-sizing: border-box;
    padding-left: 1vw;
}
#mh3{
    font-family: "CenturyGothicRegular";
    text-transform: uppercase;
    font-size: 7vw;
    color: #f2f2f2;
    margin-top: 10vw;
    padding-bottom: 1vw;
    width: 26vw;
}
#mdn{
    width: 100%;
}
.mdn{
    background:none;
    border-radius: 20px;
    height: 6vw;
    width: 40vw;
    margin-bottom: 1.5vw;
    border: none;
    color: #e2e2e2;
    font-size: 4vw;
    font-family: "CenturyGothicRegular";
    margin-left: 5vw;
    text-transform: none;
    outline: none;
    cursor: pointer;
    margin-top: 0.25vw;
}
.mdv{
    background:none;
    border-radius: 20px;
    height: 6vw;
    width: 40vw;
    margin-bottom: 2vw;
    color: #e2e2e2;
    font-size: 4vw;
    font-family: "CenturyGothicRegular";
   text-transform: none;
    margin-left: 5vw;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 0.25vw;
}
.msu{
    background-color: rgba(0,0,0,0);
    border-radius: 20px;
    height: 7vw;
    width: 30vw;
    margin-bottom: 2vw;
    border: solid 1px #e2e2e2;
    color: #e2e2e2;
    font-size: 4vw;
    font-family: "CenturyGothicRegular";
    text-transform: uppercase;
    box-shadow: 0px 0px 50px -7px rgba(73, 73, 148, 0.26);
    -webkit-transition-duration: 0.5s; 
    -o-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s; 
    transition-duration: 0.5s;
    margin-top: 3vw;
    outline: none;
    cursor: pointer;
}
.msu:hover{
    background-color: #f2f2f2; 
    box-shadow: 0px 0px 50px -7px rgba(255,255,255,255.26);
    -webkit-transition-duration: 0.5s; 
    -o-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s; 
    transition-duration: 0.5s;
    cursor: pointer;
}
#micon{
    box-sizing: border-box;
    padding-top: 0.25em;
    position: absolute;
}
#minput{
    background: none;
    border-radius: 20px;
    height: 7vw;
    width: 50vw;
    margin-bottom: 5vw;
    border: solid 0.01vw #e2e2e2;
    color: #e2e2e2;
    font-size: 1vw;
    font-family: "CenturyGothicRegular";
    text-transform: uppercase;
    box-sizing: border-box;
    padding-left: 1vw;
}
.mdn:-ms-value {
    text-transform: none;
}
#mforms{
    width: 50vw;
    margin-top: 6vw;
}
::-webkit-input-placeholder {color:#e2e2e2;}
::-moz-placeholder          {color:#e2e2e2;}
:-moz-placeholder           {color:#e2e2e2;}
:-ms-input-placeholder      {color:#e2e2e2;}